[Unit]
Description=Fliko device service
After=basic.target sockets.target network-online.target
Requires=basic.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash ./kiosk/autostart.sh <LATEST_OS_RELEASE>
Type=simple
Restart=always
RestartSec=5
TimeoutStartSec=300
TimeoutStopSec=30
WorkingDirectory=~

[Install]
WantedBy=basic.target