[Unit]
Description=Fliko device service
After=basic.target kiosk.service
Requires=basic.target

[Service]
ExecStartPre=-/bin/bash ./kiosk/update.sh
ExecStart=/bin/bash ./kiosk/autostart.sh
Type=simple
Restart=always
RestartSec=5
# Set longer timeout since this process is expected to update software (download could take a while)
TimeoutStartSec=1200
TimeoutStopSec=30
WorkingDirectory=~

[Install]
WantedBy=basic.target