[Unit]
Description=Kiosk update window service
After=basic.target sockets.target graphical.target
Requires=basic.target sockets.target

[Service]
Environment=DISPLAY=:0.0
Type=simple
ExecStartPre=-/usr/bin/xset s off
ExecStartPre=-/usr/bin/xset s noblank
ExecStartPre=-/usr/bin/xset -dpms
ExecStartPre=-/bin/sed -i 's/"exited_cleanly":false/"exited_cleanly":true/' /home/kiosk/.config/google-chrome/Default/Preferences
ExecStartPre=-/bin/sed -i 's/"exit_type":"Crashed"/"exit_type":"Normal"/' /home/kiosk/.config/google-chrome/Default/Preferences
ExecStart=/bin/bash -c 'google-chrome --check-for-update-interval=31536000 --noerrdialogs --disable-infobars --disable-pinch -overscroll-history-navigation=0 --autoplay-policy=no-user-gesture-required --enable-features=OverlayScrollbar --password-store=basic --start-maximized --kiosk $DEVICE_UPDATE_PAGE_URL'
ExecStartPost=-/usr/bin/xinput set-prop "Nexio Touch Device (HS) Nexio HID Multi-Touch ATI0400-10"  --type=float "Coordinate Transformation Matrix" 0.0, -1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0
ExecStartPost=-/bin/bash -c 'wmctrl -r "Google Chrome" -b add,above'
RestartSec=5
Restart=always
TimeoutSec=30

