[Unit]
Description=Kiosk service
After=basic.service sockets.target fliko-device.service
Requires=basic.target sockets.target

[Service]
Environment=DISPLAY=:0.0
Type=simple
ExecStartPre=-/usr/bin/xinput set-prop "Nexio Touch Device (HS) Nexio HID Multi-Touch ATI0400-10"  --type=float "Coordinate Transformation Matrix" 0.0, -1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0
ExecStartPre=-/usr/bin/xset s off
ExecStartPre=-/usr/bin/xset s noblank
ExecStartPre=-/usr/bin/xset -dpms
ExecStartPre=-/bin/sed -i 's/"exited_cleanly":\s*false/"exited_cleanly":true/' "$HOME/.config/chromium/Default/Preferences"
ExecStartPre=-/bin/sed -i 's/"exit_type":\s*"Crashed"/"exit_type":"None"/' "$HOME/.config/chromium/Default/Preferences"
ExecStart=/bin/bash -c 'chromium-browser --noerrdialogs --check-for-update-interval=31536000 --disable --disable-translate --disable-infobars --disable-pinch --disable-suggestions-service --disable-save-password-bubble --autoplay-policy=no-user-gesture-required --password-store=basic --start-maximized --enable-features=OverlayScrollbar --noerrdialogs --disable-component-update --kiosk --incognito $DEVICE_SETUP_URL'
RestartSec=5
Restart=always
TimeoutSec=30


